<?php
// If true, all users must log in with 2-step verification. They will receive an alert message and cannot skip the configuration.
// Default: Setting up 2FA is not necessary for enabled users (false)
$rcmail_config['force_enrollment_users'] = false;

// A Whitelist of IPs which are allowed to bypass the 2FA, CIDR format available.
// NOTE: We need to use .0 IP to define LAN because the class CIDR have a issue about that (we can't use 129.168.1.2/24, for example)
// NOTE2: To create a empty whitelist, make sure it looks like this: `$rcmail_config['whitelist'] = array();` <- There are NO QUOTES inside the parentheses.
$rcmail_config['whitelist'] = array('192.168.1.0/24', '::1', '192.168.0.9');

// If true, there will be a checkbox in the the TOTP code prompting page. By ticking it, there will be no 2FA prompt for 30 days.
// Default: Allow saving devices (true)
$rcmail_config['allow_save_device_30days'] = true;

// If true, the entered TOTP code will appear as password in the webpage when prompting it. Otherwise, it'll shown as text.
// Default: Form field will be text (false)
$rcmail_config['twofactor_formfield_as_password'] = false;

// Users allowed to use plugin (IMPORTANT: other users DON'T have plugin activated). Regex is supported.
$rcmail_config['users_allowed_2FA'] = array('ale.*@tereborace.com', 'administrator@tereborace.com');

// If true, 2FA failure will be logged in file log_errors_2FA.txt under HOME_RC/logs/log_errors_2FA.txt.
// Suggested by @pngd (issue 131)
// Default: There will be no logs (false)
$rcmail_config['enable_fail_logs'] = false;

// If true, twofactor user preferences (secret and codes) will be encrypted with Roundcube's DES key.
$rcmail_config['twofactor_pref_encrypt'] = false;
