<?php
// if true ALL users must have 2-steps active
$rcmail_config['force_enrollment_users'] = false;

// whitelist, CIDR format available
// NOTE: we need to use .0 IP to define LAN because the class CIDR have a issue about that (we can't use 129.168.1.2/24, for example)
$rcmail_config['whitelist'] = array('192.168.1.0/24', '::1', '192.168.0.9');

// Admin can disable saving devices for all users (paranoid mode)
// Default: allow saving devices (true)
$rcmail_config['allow_save_device_xdays'] = true;

$rcmail_config['save_device_xdays'] = 30;

$rcmail_config['qr_image_colour'] = "#000000";

// Make the 2-step field a masked password input type
// Default: form field will be text (false)
$rcmail_config['twofactor_formfield_as_password'] = false;

$rcmail_config['enable_ua2fa'] = false;

// Users allowed to use plugin (IMPORTANT: other users DON'T have plugin activated)
$rcmail_config['users_allowed_2FA'] = array('ale.*@tereborace.com', 'administrator@tereborace.com');


// failure logging, suggested by @pngd (issue 131)
$rcmail_config['enable_fail_logs'] = false;
